.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 10px;
  }
  
  .background{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .text-color{
    color: rgb(255, 21, 21);
  }