.backgroundColor{
  background-color: rgb(255, 236, 90);
}

.column{
  columns: 10px;
}

.margin{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

input{
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(255, 232, 61);
}

input:focus{
  outline: none;
}

.topbar-decoration-text{
  color: rgb(60, 60, 60);
  text-decoration: none;
}

.cursor-pointer{
  cursor: pointer;
}

.sign-in-margin{
  margin-top: 3px;
}

.cart{
  padding-bottom: 3px;
  cursor: pointer;
}

.false-background{
  background-color: rgb(255, 240, 126);
}

.back-arrow{
  padding-bottom: 3px;
  cursor: pointer;
}